<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1>Products</h1>
    <ul>
            <li>
                <strong>{{ product.name }}</strong><br>
                {{ product.description }}<br>
                Price: ${{ product.price }}<br>
                Quantity: {{ product.quantity }}<br>
                Harvested on: {{ product.dateHarvested }}<br>
                Business: {{ product.businessName }}<br>
                Zip Code: {{ product.zip }}<br>
            </li>
            <li>No products available.</li>

    </ul>
</body>
</html>
