.header {
    padding: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    position:relative;
    top:-50px;
    background-color: rgb(222, 235, 194);
    animation: colorChange 5s infinite alternate; 
}


.navbar {
    padding: 10px;
    position: relative;
    top: -100px;
    background-color: black;
    justify-content: space-between;
    border-radius: 5px;
}

.right {
    float: right; 
    position: relative;
    left: -10px;
}

button {
    background-color: #189ba7; 
    color: white; 
    padding: 15px 32px; 
    border: none;
    border-radius: 5px;
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.buttons {
    position: relative;
    top:17px;
}

button:hover {
    background-color: #45a049; 
}

.search-container{
    color:white;
    position: relative;
    left: 480px;
    top:-30px;
}

.search-container input[type="text"] {
    width: 350px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.search-container button {
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0056b3;
}

body {
    background-color: bisque;
}

.main{
    display: flex;
    align-items: flex-start; 
    margin: 20px;
    background-color: rgb(187, 176, 176);
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: relative;
    top:-65px;
}

.text-content {
    flex: 1;
    margin-right: 20px; 
    position: relative;
    top: -5px;
}

.text-content img {
    width: 100%; 
    height: auto; 
}

.footer {
    padding: 1px;
    text-align: center;
    background: #000000;
    color: white;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.produce-image {
    width: 100%; 
    max-width: 550px; 
    height: auto; 
    border-radius: 10px; 
}

@keyframes colorChange {
    0% { background-color: #e46363; }
    50% { background-color: #75dfb6; }
    100% { background-color: #ca6cd8; }
}